/* Generics */

/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 3rem;
}

input {
	width: 80px !important;
}

button {
	padding: 10px;
	border-radius: 5%;
	border-style: none;
	background-color: rgb(11, 94, 215);
	color:white
}
